.swiper {
    width: 100%;
    height: 200px;
  }  

.swiper-slide {
    background-position: center;
    background-size: cover;
    transition: outline-width .4s ease-out, 
                outline-style .4s ease-out, 
                outline-color .4s ease-out, 
                outline-offset .4s ease-out;
  }

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 1024px) {
    .swiper {
        height: 250px;
      }  
}

.content {
    opacity: 0;
    font-weight: 500;
    transition: opacity 0.3s ease-out, 
                transform 0.4s ease-out;
    transform: translate(0, 300px);
    margin-top: 40px;
    filter: drop-shadow(2px 4px 6px black);
  }
  
  .swiper-slide:hover .content {
    opacity: 1;
    transform: translate(0, 0);
  }
  
  .title {
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 700;
    transform: translate(0, 0);
    transition: transform .4s ease-out, 
                background-color .4s ease-out, 
                font-weight .4s ease-out, 
                font-size .4s ease-out, 
                backdrop-filter 0.4s ease-out;
  }
  
  
  .swiper-slide:hover .title {
    background: var(--ghost-accent-color);
    font-weight: 550;
    font-size: 30px;
    backdrop-filter: blur(7px);
    background-color: rgb(82 82 82 / 50%);
    transform: translate(0, -70px) scale(0.6);
  }
  
  
  .swiper-slide:hover {
    outline-width: 4px;
    outline-style: solid;
    outline-color: var(--ghost-accent-color);
    outline-offset: 3px;
  }

  .swiper-slide img{
    transition: transform 0.4s ease-out, 
                filter 0.4s ease-out;
   }
   .swiper-slide:hover img{
     transform: rotate(10deg) scale(1.5);
     filter: blur(5px);
   }
